div.hidden {
  display: none;
}

h2.hidden {
  display: none;
}
nav.hidden {
  display: none
}

button.hidden {
  display: none
}
p.hidden {
  display: none
}

form.hidden {
  display: none
}
ul.hidden {
  display: none
}


/* div.active {
  border: 5px solid red;
} */

img.bigcoin {
  width: 50px;
}

img.smallcoin {
  width: 50px;
}
